'.source.enc':
  'editor':
    'commentStart': '-- '
    'increaseIndentPattern': '^.*((\\b(def|if|else|repeat|while|let|class|var|val|forward|break|continue|end|fun|case|do|require|module)\\b.*)|\\{[^}]*|\\([^)]*|^.*\\=\\s*$)$'
    'decreaseIndentPattern': '^\\s*(\\}|\\))'
